.aboutProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  @media screen and (max-width: 1200px) {
   flex-direction: column;
   padding: 0;
  }


}

.aboutImg {
  border-radius: 50%;
  height: 500px;
  width: 500px;
  object-fit: cover;

  margin: 10px 50px 10px 0px;

  @media screen and (max-width: 450px) {
    height:200px;
    width: 200px;
    margin: 30px 0px;

  }
}

.aboutInfo {
  display: flex;
  flex-direction: column;

    h1 {
      margin-bottom: 10px;
      @media screen and (max-width: 450px) {
        margin-bottom: 3px;
      }

    }

    span {
      color: var(--gainsboro);
    }

  p {
    box-sizing: border-box;
    margin: 0px 0px 20px;
    font-weight: 400;
    font-size: 20px;

    @media screen and (max-width: 450px) {
      font-size: 12px;
    }
  }
  padding: 35px;

}
