.home {
  background: no-repeat right/ 60% url("../../assets/profile.png");

  color: var(--gainsboro);
  height: 100vh;
  width: 100%;
  position: absolute;

  @media screen and (max-width: 1190px) {
    height: 100%;
    background:  no-repeat center/75% url("../../assets/profile.png");

  }

  @media screen and (max-width: 450px) {
    height: 150%;
    background:  no-repeat center/185% url("../../assets/profile.png");
    top: -28%;
  }

}

.app__header {
  display:flex;
  flex-direction: column;
  padding: 6rem 2rem 0rem;

  button {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    background-color: var(--brown-sugar);
    color: var(--gainsboro);
    border-radius: 2em;
    border: 2px solid;
    border-color: var(--bole);
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 2px 5px 6px rgba(255,255,255,0.30);
    transform: translateY(-1px);
    transition: all 150ms ease-in-out 0s;
  }

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1190px) {
    position: absolute;
    top: 40%;
    max-width: 100%;
  }

  @media screen and (max-width: 450px) {
    position: absolute;
    top: 40%;

  }


}

.app__header__info {
  display: flex;

  height: 100%;
  top: 20%;
  position: absolute;
  margin: 0 5rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

.app__header__badge {

  p {
    font-size: 17px;
    text-align: left;
    color: var(--gainsboro);
    line-height: 1.5;
    margin-top: 20px;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }

  @media screen and (max-width: 450px) {

  }

  @media screen and (max-width: 360px) {
    font-size: 15px;

  }

  }
  h1 {
    color: var(--chestnut);
    font-size: 45px;

    @media screen and (max-width: 450px) {
      font-size: 20px;
    }

    @media screen and (max-width: 360px) {
      font-size: 19px;

    }
  }



}
