.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__skillsContainer {
  margin-top: 3rem;
  display: flex;

  @media screen and (max-width: 900px) {
    padding: 0;
  }
}

.app__skillsList {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}

.app__skillsItem {
  flex-direction: column;
  text-align: center;

  margin: 1.5rem;

  &:hover {
    div {
      transition: all 0.8s ease-in-out;
      outline-style: solid;
    }
    img {
      border-radius: 50%;
      transition: all 0.8s ease-in-out;
    }
    p {
      transition: all 0.8s ease-in-out;
    }

    .css {
      box-shadow: 0 0 25px 15px var(--css);
      outline-color: var(--css);

      img {
        box-shadow: 0 0 25px 0 var(--css);
      }
      p {
        color: var(--css);
      }
    }

    .express {
      box-shadow: 0 0 25px 15px var(--gainsboro);
      outline-color: var(--gainsboro);
      img {
        box-shadow: 0 0 25px 0 var(--gainsboro);
      }
      p {
        color: var(--wistful);
      }
    }

    .git {
      box-shadow: 0 0 25px 15px var(--git);
      outline-color: var(--git);
      img {
        box-shadow: 0 0 25px 0 var(--git);
      }
      p {
        color: var(--git);
      }
    }
    .html {
      box-shadow: 0 0 25px 15px var(--html);
      outline-color: var(--html);
      img {
        box-shadow: 0 0 25px 0 var(--html);
      }
      p {
        color: var(--html);
      }
    }
    .js {
      box-shadow: 0 0 25px 15px var(--js);
      outline-color: var(--js);
      img {
        box-shadow: 0 0 25px 0 var(--js);
      }
      p {
        color: var(--js);
      }
    }
    .next {
      box-shadow: 0 0 25px 15px var(--nextjs);
      outline-color: var(--nextjs);
      img {
        box-shadow: 0 0 25px 0 var(--nextjs);
      }
      p {
        color: var(--nextjs);
      }
    }
    .node {
      box-shadow: 0 0 25px 15px var(--node);
      outline-color: var(--node);
      img {
        box-shadow: 0 0 25px 0 var(--node);
      }
      p {
        color: var(--node);
      }
    }
    .psql {
      box-shadow: 0 0 25px 15px var(--psql);
      outline-color: var(--psql);
      img {
        box-shadow: 0 0 25px 0 var(--psql);
      }
      p {
        color: var(--psql);
      }
    }
    .react {
      box-shadow: 0 0 25px 15px var(--react);
      outline-color: var(--react);
      img {
        box-shadow: 0 0 25px 0 var(--react);
      }
      p {
        color: var(--react);
      }
    }
    .redux {
      box-shadow: 0 0 25px 15px var(--redux);
      outline-color: var(--redux);
      img {
        box-shadow: 0 0 25px 0 var(--redux);
      }
      p {
        color: var(--redux);
      }
    }
    .sanity {
      box-shadow: 0 0 25px 15px var(--sanity);
      outline-color: var(--sanity);
      img {
        box-shadow: 0 0 25px 0 var(--sanity);
      }
      p {
        color: var(--sanity);
      }
    }
    .sass {
      box-shadow: 0 0 25px 15px var(--sass);
      outline-color: var(--sass);
      img {
        box-shadow: 0 0 25px 0 var(--sass);
      }
      p {
        color: var(--sass);
      }
    }
    .sql {
      box-shadow: 0 0 25px 15px var(--sql);
      outline-color: var(--sql);
      img {
        box-shadow: 0 0 25px 0 var(--sql);
      }
      p {
        color: var(--sql);
      }
    }
    .supa {
      box-shadow: 0 0 25px 15px var(--supa);
      outline-color: var(--supa);
      img {
        box-shadow: 0 0 25px 0 var(--supa);
      }
      p {
        color: var(--supa);
      }
    }
  }

  div {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    background-color: var(--raisin-black);

    img {
      height: 50%;
    }

    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }

  p {
    font-weight: 800;
    font-size: 16px;
    margin-top: 0.8rem;
  }

  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;

    p {
      margin-top: 1rem;
    }
  }
}
