@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Oswald:wght@700&family=Roboto:wght@700&display=swap');

:root {

  --font-base: 'Nunito Sans', sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;

  --raisin-black: #212130;
  --gainsboro: #e1e6e9;
  --chestnut: #974A36;
  --brown-sugar: #bb6944;
  --bole: #6A3932;
  --wistful: #b0b0d8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
  }
}

.app {
  background-color: #0F0505;
  font-family: var(--font-base);
  color: var(--gainsboro);
}

.app__whitebg {
  background-color: var(--raisin-black);
}

.app__primarybg {
  background-color: var(--raisin-black);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;

}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--gainsboro);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--gainsboro);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--gainsboro);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gainsboro);
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}


